.container {
    width: 80%;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin: 20px auto;
    background: #ffffff;
    box-shadow: 0px 2px #dddddd;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-direction: column;
}

.container .description {
    display: flex;
    justify-content: space-between;
}

.container .videoDescription {
    margin-left: 10px;
    flex-basis: 70%;
    text-align: justify;
}

.container .videoDescription h1 {
    font-size: 40px;
    border-bottom: 2px solid #bbbbbb;
}

.container .videoDescription p {
    margin-top: 10px;
}

.container .videoImg {
    box-shadow: inset 0px 1000px rgba(194, 54, 22, 0.4), 0px 6px rgba(194, 54, 22, 0.2);
    border-radius: 3px;
    flex-basis: 500px;
    height: 300px;
}

.container .options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container .options select {
    flex-basis: 71%;
    height: 65px;
    border: 0;
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

    font-size: 21px;
    line-height: 40px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding-left: 15px;
    letter-spacing: 1px;
    color: #333333;
}

.container .options button {
    flex-basis: 28%;
    height: 59px;
    border: 0;
    top: 0;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 6px rgba(53, 59, 72, 0.5);
    font-size: 25px;
    background: #353b48;
    color: #ffffff;
    user-select: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.container .options select:focus, .container .options button:focus {
    outline: none;
}

.container .options button:hover {
    background: #242a37;
    cursor: pointer;
    box-shadow: 0px 6px rgba(43, 49, 42, 0.5);
    color: #c23616;
}

.container .options button:active {
    box-shadow: 0px 0px rgba(48, 98, 141, 0.5);
    top: 6px;
}